//
// Base
//
// By Craig Hellinger. Copyright 2016. All rights reserved. 
// 

// Use this as your bases style sheet for all sit-wide style snippets. If you have enough to make a partial, move it to it's own .scss file

body, html {
	min-width: 320px;
	max-width: 100%;
	color: $primary-color;
	overflow-x: hidden;
}

.button {
	background: $secondary-color;
	border: 0;
	text-decoration: none;
	font-family: $body-font-family;
	padding: 0.6em 1em;
	display: block;
	font-size: rem-calc(20);
	line-height: 1em;
	&:hover {
		background-color: $primary-color;
	}
}

// MAIN CONTENT

#maincontent {
	@include grid-row();
	max-width: 100%;
	padding: 20px;
} // mainContent

.off-canvas-content, .off-canvas-content {
	box-shadow: none;
}

.social, .social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin: 1px;
		a {
			display: block;
			overflow: hidden;
			width: rem-calc(40);
			height: rem-calc(40);
			line-height: rem-calc(40);
			padding-top: 40px;
			position: relative;
			transition: all $css-transition-speed;
			&:before {
				position: absolute;
				display: block;
				top: 0.3em;
				width: rem-calc(40);
				font-size: rem-calc(26);
				line-height: rem-calc(40);
				text-align: center;
			}
			&:hover {
				background-color: $secondary-color;
			}
		}
	}
	.youtube {
		a:before {
			@include fontastic-icon('\f16a');
		}
	}
	.twitter {
		a:before {
			@include fontastic-icon('\f099');
		}
	}
	.facebook {
		a:before {
			@include fontastic-icon('\f09a');
		}
	}
	.flickr {
		a:before {
			@include fontastic-icon('\f16e');
		}
	}
	.rss {
		a:before {
			@include fontastic-icon('\f09e');
		}
	}
} // social


.secondarycontent {
	background: $light-gray;
	width: 100%;
	display: block;
	@include breakpoint(large) {
		padding: 90px 40px;
	}
} // secondaryContent

.owl-controls {
	z-index: 100;
} 

.owl-nav {
	width: 100%;
	position: absolute;
	display: block;
	z-index: 200;
	top: 50%;
	margin-top: -28px;
	.owl-prev, .owl-next {
		width: 40px;
		height: 40px;
		display: block !important;
		overflow: hidden;
		background: $primary-color;
		color: white;
		position: absolute;
		font-family: "perfect-council" !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: rem-calc(21);
		transition: background-color $css-transition-speed;
		&:before {
			display: block;
			text-align: center;
			line-height: 36px;
			height: 40px;
			position: relative;
			top: 10px;
			@include breakpoint(large) {
				line-height: 56px;
				height: 56px;
				top: 16px;
			}
		}
		&:hover {
			background-color: $secondary-color;
		}
		@include breakpoint(large) {
			width: 56px;
			height: 56px;
		}
	} // buttons
	.owl-prev {
		&:before {
			@include fontastic-icon('\f053');
		}
		left: -10px;
		@include breakpoint(large) {
			left: -28px;
		}
	} // prev
	.owl-next {
		&:before {
			@include fontastic-icon('\f054');
		}
		right: -10px;
		@include breakpoint(large) {
			right: -28px;
		}
	} // next
}

.owl-controls {
	/* .owl-dots {
		.owl-dot {
			display: inline-block;
			width: 20px;
			height: 20px;
			position: relative;
			&:before {
				@include fontastic-icon("\f078");
				font-size: rem-calc(13);
				position: absolute;
				top: 3px;
				left: 0;
				width: 20px;
				text-align: center;
			}
		} // dot
		.owl-dot.active {
			&:before {
				@include fontastic-icon("\f13a");
			}
		}
	} */
}

.off-canvas-wrapper {
	background: $secondary-color;
	@include breakpoint(large) {
		position: relative;
		z-index: 30;
		overflow: visible;
	}
}