
#footer {
	
	background: $secondary-color;
	color: white;
	margin-top: 40px;
	padding: 30px;
	text-align: center;

	h5 {
		font-size: rem-calc(16);
		line-height: 1.35em;
		margin-bottom: 30px;
		font-family: $body-font-family;
		color: white;
		@include breakpoint(medium) {
			
		}
	}

	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: $secondary-color;
		}
	}

	p {
		color: white;
		font-family: $light-font-family;
		font-size: rem-calc(15);
		line-height: 1.8em;
		margin: 0 auto;
	}

  	.social {
  		li {
  			a {
  				background-color: white;
  				color: $secondary-color;
  				&:hover {
  					background-color: lighten($primary-color, 10%);
  				}
  			}
  			@include breakpoint(large) {
  				&:last-child {
  					margin-right: 0;
  					margin-top: 0;
  				}
  			}
  		}
  		@include breakpoint(medium) {
  			margin-top: -18px;
  		}
  	} // social

	.footer-nav {
		text-align: center;
		ul {
			list-style: none;
			margin: 30px auto;
			padding: 0;
			text-align: center;
			li {
				font-family: $light-font-family;
				font-size: rem-calc(17);
				display: block;
				border-right: 1px solid $secondary-color;
				margin: 0 10px;
				a {
					color: white;
					padding: 1px 6px;
					transition: all $css-transition-speed;
					&:hover {
						color: lighten($primary-color, 10%);
						text-decoration: underline;
					}
				}
				@include breakpoint(medium) {
					display: inline-block;
				}
			}
			li:first-child {
				a {
					padding-left: 0;
				}
			}
			li:last-child {
				border-right: 0;
				a {
					padding-right: 0;
				}
			}
		}
	} // footer-nav

	.powered-by {
		color: #8a8888;
		a {
			color: #8a8888;
			&:hover {
				color: white;
			}
		}
	}

	@include breakpoint(medium) {
		padding: 60px;
	}
} // footer
