.title-bar {
	background: $secondary-color;
	padding: 10px;
	a {
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
	.menu-button {
		display: inline-block;
		padding: .5em;
		background-color: $secondary-color;
		margin: 5px 5px 0 0;
		@include breakpoint(large) {
			display: none;
		}
	}

	.burger-icon {
		@include burger(25px, 3px, 5px, #fff);
	}

	.menu-button.is-active .burger-icon {
		@include burger-to-cross;
	}
	.title-bar-title {
		font-size: rem-calc(22);
		font-weight: normal;
		position: relative;
		top: -4px;
		@media screen and (min-width: 374px) {
			margin-left: 30px;
		}
		@include breakpoint(medium) {
			font-size: rem-calc(25);
			position: absolute;
			left: 50%;
			top: 10px;
			margin-left: -86px;
		}
		@include breakpoint(large) {
			color: $secondary-color;
			position: static;
			margin-left: 10px;
			font-size: rem-calc(35);
		}
		@include breakpoint(xlarge) {
			font-size: rem-calc(42);
			margin-top: 18px;
		}
		@include breakpoint(xxlarge) {
			font-size: rem-calc(50);
			margin-top: 32px;
		}
	}
	.account-login {
		display: block;
		width: 35px;
		height: 35px;
		padding: 5px;
		overflow: hidden;
		transition: all $css-transition-speed;
		position: absolute;
		top: 15px;
		right: 50px;
		&:before {
			@include fontastic-icon('\f007');
			font-size: rem-calc(25);
			margin-right: 20px;
			@include breakpoint(large) {
				display: none;
			}
		}
		&:hover {
			background-color: $primary-color;
			@include breakpoint(large) {
				background: transparent;
				color: $primary-color;
			}
		}
		@include breakpoint(large) {
			width: auto;
			color: $secondary-color;
			font-family: $header-font-family;
			top: auto;
			bottom: 11px;
			right: 30px;
		}
		@include breakpoint(xlarge) {
			bottom: 33px;
			right: 50px;
			z-index: 200;
		}
		@include breakpoint(xxlarge) {
			bottom: 64px;
			right: 0;
			font-size: rem-calc(20);
		}
	} // account-login
	.search {
		display: block;
		width: 35px;
		height: 35px;
		padding: 5px;
		overflow: hidden;
		transition: background-color $css-transition-speed;
		margin-top: 5px;
		&:before {
			@include fontastic-icon('\f002');
			font-size: rem-calc(23);
			line-height: rem-calc(25);
			margin-right: 20px;
			text-align: center;
		}
		&:hover {
			background-color: $primary-color;
		}
		@include breakpoint(large) {
			display: none;
		}
	}
	@include breakpoint(large) {
		background: white;
		max-width: $global-width;
		margin: 0 auto;
		padding: 10px 20px;
	}
	@include breakpoint(xlarge) {
		padding: 10px 40px;
	}
	@include breakpoint(xxlarge) {
		padding: 10px 0px;
	}
} // title bar

header {
	position: relative;
	text-align: center;

	a {
		text-decoration: none;
	}

	.skip-to-content {
		display: block;
		clear: both;
		position: absolute;
		top: -100px;
		font-size: rem-calc(12);
		font-family: $body-font-family;
		letter-spacing: 1px;
	}
	.skip-to-content:focus {
		position: static;
	}

	@include breakpoint(medium) {
		text-align: left;
	}

	@include breakpoint(large) {
		z-index: 10;
		position: relative;
	}
	@include breakpoint(xlarge) {
		height: 120px;
	}
	@include breakpoint(xxlarge) {
		height: 170px;
	}

} // header

.no-js header {
	.skip-to-content {
		position: static;
	}
	#mainNav {
		ul {
			li {
				a {
					&:hover, &:focus {
						background: $secondary-color;
						color: $primary-color;
					}
				}
			}
		}
	}	
}

.off-canvas {
	background: $tertiary-color;
	border-right: 1px solid $secondary-color;
	.menu {
		padding: 0;
		li {
			border-bottom: 1px solid $secondary-color;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	@include breakpoint(large) {
		border-right: 0;
		overflow: visible;
		transform: none;
	}
} // off-canvas

.off-canvas.position-left {
	@include breakpoint(large) {
		z-index: 100;
		tranform: none;
		left: auto;
		right: 220px;
		top: -48px;
		width: auto;
		background: transparent;
	} // large
	@include breakpoint(xlarge) {
		left: 50%;
		top: -71px;
		width: 100%;
		right: auto;
		margin-left: -865px;
		text-align: right;
		display: inline-block;
		max-width: $global-width;
	}
	@include breakpoint(xxlarge) {
		top: -100px;
	}
}

#mainNav {
	li {
		> ul {
			li {
				font-size: 0.9em;
				border-bottom: 0;
				border-top: 1px solid $secondary-color;
				a {
					padding-left: 30px;
					padding-top: 7px;
					padding-bottom: 8px;
				}
				@include breakpoint(large) {
					border-top: 0px;
					a {
						padding: 10px;
					}
				}
			}
		}
	}
	@include breakpoint(large) {
		overflow: visible;
		li {
			display: inline-block;
			border: 0;
			position: relative;
			a {
				background: transparent;
				color: $secondary-color;
				padding: 0.7rem;
				&:hover {
					color: $primary-color;
				}
			}
			ul {
				background: white;
				position: absolute;
				top: 48px;
				box-shadow: 1px 1px 1px rgba(42, 42, 44, 0.2);
				max-height: 0;
				overflow: hidden;
				transition: max-height $css-transition-speed;
				li {
					display: block;
					font-size: 0.9em;
					a {
						padding-top: 0.4em;
						padding-bottom: 0.4em;
					}
				}
				li:last-child {
					margin-bottom: 15px;
				}
			}
			&:hover {
				ul {
					max-height: 200px;
				}
			}
		} // li
	} // large
	@include breakpoint(xxlarge) {
		li {
			a {
				font-size: rem-calc(20);
			}
			ul {
				li {
					a {
						font-size: rem-calc(18);
					}
				}
			}
		} // li
	}
} // mainNav