#maincontent.home{
	padding: 0;

	// TOP TASKS
	.top-tasks {
		background: #cce0f3 url('../img/top-tasks-bg.jpg') center no-repeat;
		background-size: cover;
		padding: 20px;
		text-align: center;

		// SEARCH BOX
		.home-search {
			max-width: 450px;
			position: relative;
			margin: 40px auto;
			label {
				display: none;
			}
			input {
				display: inline-block;
				padding-left: 20px;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				border-radius: 0 !important;
				@include breakpoint(medium) {
					height: 46px;
				}
				@include breakpoint(xlarge) {
					height: 74px;
					font-size: rem-calc(25);
				}
			}
			.button {
				position: absolute;
				right: 0;
				top: 0;
				font-size: rem-calc(15);
				letter-spacing: -1px;
				height: 39px;
				width: 39px;
				text-indent: 40px;
				overflow: hidden;
				&:after {
					@include fontastic-icon('\f002');
					font-size: rem-calc(20);
					width: 39px;
					text-align: center;
					position: absolute;
					right: 0px;
					top: 9px;
					text-indent: 0px;
					@include breakpoint(medium) {
						right: 10px;
						top: 11px;
						font-size: rem-calc(24);
					}
					@include breakpoint(large) {
						font-size: rem-calc(26);
					}
					@include breakpoint(xlarge) {
						font-size: rem-calc(30);
						right: 30px;
						top: 22px;
					}
				} // after
				@include breakpoint(medium) {
					font-size: rem-calc(20);
					padding-right: 30px;
					padding-left: 10px;
					width: 140px;
					height: 46px;
					text-indent: 0px;
				}
				@include breakpoint(xlarge) {
					font-size: rem-calc(25);
					width: 210px;
					height: 74px;
					padding-right: 45px;
				}
			}
			@include breakpoint(large) {
				max-width: 850px;
				padding-right: 100px;
				margin: 50px auto;
			}
			@include breakpoint(xlarge) {
				max-width: 950px;
				padding-right: 210px;
				margin: 70px auto 85px;
			}
		} // END SEARCH BOX


		// TASKS CAROUSEL
		.owl-carousel {
			background: transparent url('../img/white-95.png') repeat;
			list-style: none;
			padding: 0;
			margin: 0 auto;
			position: relative;
			max-width: $global-width;
			display: block;
			li {
				text-align: left;
				color: $secondary-color;
				position: relative;
				h2 {
					display: block;
					position: relative;
					width: 100%;
					color: $secondary-color;
					font-size: rem-calc(22);
					padding: 20px 100px 0 30px;
					@include breakpoint(medium) {
						position: absolute;
						top: 30px;
						padding: 140px 20px 20px;
						text-align: center;
					}
					@include breakpoint(large) {
						font-size: rem-calc(28);
						padding: 140px 20px 20px;
					}
					@include breakpoint(xlarge) {
						font-size: rem-calc(30);
						padding: 140px 40px 20px;
					}
					@include breakpoint(xxlarge) {
						font-size: rem-calc(34);
					}
				}
				&:before {
					color: $secondary-color;
					position: absolute;
					right: 30px;
					top: 0;
					font-size: rem-calc(80);
					@include breakpoint(medium) {
						top: 40px;
						right: auto;
						left: 50%;
						font-size: rem-calc(100);
						margin-left: -50px;
					}
					@include breakpoint(large) {
						font-size: rem-calc(140);
						margin-left: -70px;
					}
				}
				ul {
					padding: 30px;
					list-style: none;
					text-align: left;
					li {
						border-bottom: 1px solid white;
						text-align: left;
						a {
							color: $secondary-color;
							text-decoration: none;
							padding: 0.4em 1em;
							display: block;
							transition: background-color $css-transition-speed;
							&:hover {
								color: white;
								background: $secondary-color;
							}
							@include breakpoint(medium) {
								color: white;
							}
						} // a
						@include breakpoint(medium) {
							text-align: center;
						}
					} // li
					li:last-child {
						border-bottom: 0;
					}
					@include breakpoint(medium) {
						background: $primary-color;
						padding: 100px 20px 20px;
						position: relative;
						opacity: 0;
						transition: opacity $css-transition-speed;
						width: 100%;
						min-height: 332px;
						&:before {
							@include fontastic-icon('\f124');
							font-size: rem-calc(60);
							margin-left: -30px;
							left: 50%;
							position: absolute;
							top: 20px;
							color: white;
						}
					} // medium
					@media screen and (min-width: 1025px) {
						min-height: 404px;
					}
					@include breakpoint(xlarge) {
						min-height: 332px;
					}
				} // nested ul

				&:hover {
					@include breakpoint(medium) {
						background: $primary-color;
						ul {
							opacity: 1;
						}
					}
				}
				@include breakpoint(medium-down) {
					
				}
			} // li

			.icon-calculator {
				&:before {
					font-size: rem-calc(100);
					top: -20px;
					right: 20px;
					@include breakpoint(medium) {
						font-size: rem-calc(140);
						margin-left: -70px;
						left: 50%;
						right: auto;
						top: 20px;
					}
					@include breakpoint(large) {
						font-size: rem-calc(170);
					}
				}
			} // calculator
			.icon-report {
				&:before {
					font-size: rem-calc(60);
					top: 15px;
					@include breakpoint(medium) {
						margin-left: -45px;
						top: 50px;
						font-size: rem-calc(90);
					}
					@include breakpoint(large) {
						font-size: rem-calc(110);
						margin-left: -55px;
						top: 50px;
					}
				}
			} // report
		} // END TASKS CAROUSEL

		@include breakpoint(medium) {
			padding: 20px 40px;
		}

		@include breakpoint(large) {
			padding: 20px 80px 120px;
		}

		@include breakpoint(large) {
			min-height: 400px;
		}
	} // top-tasks



	// COUNCIL SERVICES (GREEN BLOCK)
	.council-services {
		text-align: center;
		background: $primary-color;
		color: white;
		display: block;
		padding: 30px 10px;
		p {
			max-width: none;
			color: white;
			margin: 0;
			> a {
				&:after {
					@include fontastic-icon('\f078');
					display: block;
					text-align: center;
					margin: 10px 0 5px;
					@include breakpoint(medium) {
						font-size: 1.3em;
						margin: 15px 0 5px;
					}
				}
			}
		}
		a {
			color: white;
			text-decoration: none;
			display: inline-block;
			padding: 10px;
			&:hover {
				background-color: $tertiary-color;
			}
		}
		h1 {
			color: white;
			font-family: $body-font-family;
			font-size: rem-calc(25);
			margin: 5px auto 25px;
			@include breakpoint(medium) {
				font-size: rem-calc(45);
				margin: 9px auto 35px;
			}
		}
		nav {
			display: block;
			text-align: center;
			ul {
				list-style: none;
				@include grid-row();
				padding:0;
				width: 100%;
				margin: 20px auto;
				position: relative;
				transition: margin-bottom $css-transition-speed;
				li {
					@include grid-column(6, 14px);
					font-size: rem-calc(17);
					margin-bottom: 10px;
					a {
						padding: 1em 5px;
						background: $tertiary-color;
						border: 1px solid white;
						display: block;
						min-height: 87px;
						transition: all $css-transition-speed;
						position: relative;
						&:hover {
							background-color: lighten($primary-color, 30%);
							color: $secondary-color;
						}
						@include breakpoint(medium) {
							min-height: 70px;
						}
						@include breakpoint(large) {
							padding: 1em 20px;
						}
					}
					> a {
						&:after {
							@include css-triangle(10px, white, up);
							opacity: 0;
							position: absolute;
							bottom: -40px;
							left: 50%;
							margin-left: -10px;
							transition: all $css-transition-speed;
						}
					}
					// NESTED UL
					ul {
						max-height: 0px;
						transition: max-height $css-transition-speed;
						overflow: hidden;
						position: absolute;
						width: 98%;
						left: 1%;
						top: 80px;
						display: block;
						background: white;
						text-align: left;
						padding: 0 20px;
						li {
							background: transparent;
							font-size: rem-calc(14);
							width: auto;
							float: none;
							display: inline-block;
							margin: 0;
							padding: 0;
							a {
								background: transparent;
								color: $secondary-color;
								min-height: 0px;
								padding: 10px 15px;
								position: relative;
								&:after {
									content: '|';
									position: absolute;
									right: 0;
									font-family: $light-font-family;
								}
								&:hover {
									background: transparent;
									color: $primary-color;
									&:after {
										color: $secondary-color;
									}
								} // hover
							} // a
							@include breakpoint(xxlarge) {
								font-size: rem-calc(22);
							}
						}
						li:first-child {
							margin-top: 10px;
						}
						li:last-child:not(:first-child) {
							float: none;
							margin-bottom: 10px;
							a {
								&:after {
									display: none;
								}
							}
						}
						@include breakpoint(large) {
							width: 99%;
							left: 0.5%;
							top: 130px;
						}
						@include breakpoint(xlarge) {
							top: 160px;
						}
					} // NESTED UL
					@include breakpoint(medium) {
						@include grid-column(3, 10px);
					}
					@include breakpoint(large) {
						font-size: rem-calc(26);
					}
					@include breakpoint(xlarge) {
						font-size: rem-calc(32);
					}
				} // li
				li.menu-open {
					> a {
						&:after {
							@include css-triangle(10px, white, up);
							bottom: -20px;
							opacity: 1;
						}
					}
					@include breakpoint(medium) {
						ul {
							max-height: 120px;
						}
					}
				}
			} // ul
			ul.dropped {
				@include breakpoint(medium) {
					margin-bottom: 150px;
				}
				@include breakpoint(large) {
					margin-bottom: 100px;
				}
			} // ul.dropped
		}

		@include breakpoint(medium) {
			padding: 80px 20px;
		}
		@include breakpoint(large) {
			padding: 80px 40px;
		}
	} // END COUNCIL SERVICES (GREEN BLOCK)

	#audiences {
		background: $secondary-color;
		color: white;
		display: block;
		padding: 30px 20px;
		h3, p, a {
			color: white;
			text-decoration: none;
		}
		h3 {
			font-size: rem-calc(18);
			@include breakpoint(medium) {
				margin-bottom: 0.5em;
			}
			@include breakpoint(xlarge) {
				font-size: rem-calc(20);
			}
			@include breakpoint(xxlarge) {
				font-size: rem-calc(26);
			}
		}
		p {
			font-family: $light-font-family;
			@include breakpoint(medium) {
				margin-top: 0.5em;
			}
			@include breakpoint(large) {
				font-size: rem-calc(18);
			}
			@include breakpoint(xxlarge) {
				font-size: rem-calc(22);
			}
		}
		.columns {
			border-bottom: 1px solid white;
			margin-bottom: 30px;
			padding-bottom: 30px;
			&:last-child {
				border-bottom: 0;
				margin-bottom: 15px;
				padding-bottom: 0;
			}
			@include breakpoint(medium) {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			@include breakpoint(large) {
				border-left: 1px solid white;
				min-height: 150px;
				padding: 10px 30px;
				&:first-child {
					border-left: 0px;
				}
			}
			@include breakpoint(xlarge) {
				padding: 10px 40px;
				min-height: 160px;
			}
			@include breakpoint(xxlarge) {
				padding: 10px 56px;
				min-height: 186px;
			}
		} // columns
		@include breakpoint(large) {
			padding: 100px 30px;
		}
	} // audiences


	// NEWS
	#news {
		text-align: center;
		padding: 20px 0;
		h2 {
			margin-bottom: 20px;
		}
		a {
			text-decoration: none;
		}
		.read-more {
			color: $secondary-color;
			&:after {
				@include fontastic-icon('\f054');
				font-size: rem-calc(22);
				position: relative;
				top: 5px;
				right: -10px;
			}
			&:hover {
				color: $primary-color;
			}
		}
		.owl-carousel {
			margin-bottom: 20px;
			background-color: $secondary-color;
			a {
				position: relative;
				display: block;
				text-align: center;
				h3 {
					position: absolute;
					top: 30px;
					width: 100%;
					display: block;
					text-align: center;
					color: white;
					padding: 0 30px 20px;
					text-shadow: 1px 1px 1px rgba(42, 42, 44, 0.6);
					@include breakpoint(medium) {
						line-height: 1.1em;
						top: 20px;
					}
					@include breakpoint(large) {
						font-size: rem-calc(19);
						line-height: 1.3em;
						top: 30px;
						padding: 0 40px 20px;
					}
					@include breakpoint(xlarge) {
						font-size: rem-calc(22);
					}
					@include breakpoint(xxlarge) {
						top: 50px;
					}
				}
				p {
					position: absolute;
					bottom: 30px;
					text-align: center;
					border: 1px solid white;
					width: 120px;
					color: white;
					padding: 6px 20px;
					margin-left: -60px;
					display: inline-block;
					font-size: rem-calc(14);
					text-shadow: 1px 1px 1px rgba(42, 42, 44, 0.6);
					@include breakpoint(medium) {
						bottom: 20px;
					}
					@include breakpoint(large) {
						padding: 10px 20px;
						width: 140px;
						margin-left: -60px;
					}
					@include breakpoint(xlarge) {
						font-size: rem-calc(18);
						width: 160px;
						margin-left: -80px;
						bottom: 30px;
					}
					@include breakpoint(xxlarge) {
						bottom: 50px;
					}
				}
				img {
					opacity: 0.25;
					transition: opacity $css-transition-speed;
				}
				&:hover {
					img {
						opacity: 1;
					}
				}
			} // a
			.owl-nav {
				.owl-prev {
					left: 0px;
					@include breakpoint(large) {
						left: 20px;
					}
				}
				.owl-next {
					right: 0px;
					@include breakpoint(large) {
						right: 20px;
					}
				}
			} // owl-nav
		}
		@include breakpoint(large) {
			padding: 65px 0;
		}
	} // end NEWS

	.secondarycontent {
		clear: both;
		padding: 20px;
		.row {
			@include breakpoint(large) {
				max-width: 80%;
			}
			@include breakpoint(xxlarge) {
				p {
					font-size: rem-calc(22);
				}
			}
		}	
		h2 {
			font-size: rem-calc(20);
			@include breakpoint(large) {
				font-size: rem-calc(26);
			}
			@include breakpoint(xlarge) {
				font-size: rem-calc(30);
			}
			@include breakpoint(xxlarge) {
				font-size: rem-calc(40);
			}
		}
		.twitter-feed {
			border: 1px solid $secondary-color;
			padding: 10px 20px 0;
			overflow: hidden;
			h3 {
				font-family: $body-font-family;
				margin-top: 0.3em;
				&:after {
					@include fontastic-icon('\f099');
					font-size: 1.5em;
					position: relative;
					top: 0.25em;
					right: -0.5em;
				}
				@include breakpoint(xlarge) {
					font-size: rem-calc(26);
				}
			}
			iframe {
				height: 250px;
				margin: 0;
				@include breakpoint(xlarge) {
					height: 300px;
				}
			}
			@include breakpoint(xlarge) {
				padding: 10px 40px 0;
				height: 370px;
			}
		} // twitter feed
	} // secondaryContent

} // home


.js .home {
	
} 
