 <!-- original content goes in this container -->

<main id="maincontent" class="home off-canvas-content" data-off-canvas-content>
	<section class="top-tasks">
		<form class="home-search">
			<label>Search website</label>
			<input type="search" placeholder="Search website" />
	      	<button type="button" class="button">Search</button>
	    </form>
		<h2>Top Tasks</h2>
		<ul class="owl-carousel top-tasks-carousel">
		  <li class="icon icon-waste-management">
		  	<h2>Rubbish &amp; recycling</h2>
		  	<ul>
		  		<li>
		  			<a href="#">Request a new bin</a>
		  		</li>
		  		<li>
		  			<a href="#">Check your bin day</a>
		  		</li>
		  		<li>
		  			<a href="#">Bin collection problem</a>
		  		</li>
		  		<li>
		  			<a href="#">Bin missing or damaged?</a>
		  		</li>
		  		<li>
		  			<a href="#">Show more tasks</a>
		  		</li>
		  	</ul>
		  </li>
		  <li class="icon icon-calculator">
		  	<h2>Council Tax</h2>
		  	<ul>
		  		<li>
		  			<a href="#">Pay for council tax</a>
		  		</li>
		  		<li>
		  			<a href="#">Check your account</a>
		  		</li>
		  		<li>
		  			<a href="#">Change of address</a>
		  		</li>
		  		<li>
		  			<a href="#">Council tax discounts</a>
		  		</li>
		  		<li>
		  			<a href="#">Show more tasks</a>
		  		</li>
		  	</ul>
		  </li>
		  <li class="icon icon-parking">
		  	<h2>Parking</h2>
		  	<ul>
		  		<li>
		  			<a href="#">Pay a parking fine</a>
		  		</li>
		  		<li>
		  			<a href="#">Roadworks, closures &amp; diversions</a>
		  		</li>
		  		<li>
		  			<a href="#">Potholes / road damage</a>
		  		</li>
		  		<li>
		  			<a href="#">Disabled parking permits</a>
		  		</li>
		  		<li>
		  			<a href="#">Show more tasks</a>
		  		</li>
		  	</ul>
		  </li>
		  <li class="icon icon-report">
		  	<h2>Report a problem</h2>
		  </li>
		  <li>
		  	<h2>Work</h2>
		  </li>
		  <li>
		  	<h2>Libraries</h2>
		  </li>
		  <li>
		  	<h2>Schools &amp; Education</h2>
		  </li>
		</ul>
	</section>
	<section class="council-services">
		<p>Most popular</p>
		<h1>Council Services</h1>
		<nav>
			<ul data-equalizer>
				<li>
					<a href="#" data-equalizer-watch>Rubbish and recycling</a>
					<ul>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-equalizer-watch>Parking and travel</a>
					<ul>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-equalizer-watch>Streets and neighbourhood</a>
					<ul>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
						<li>
							<a href="#">Lorem ipsum</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-equalizer-watch>Housing and council tax</a>
					<ul>
						<li>
							<a href="#">Council Housing</a>
						</li>
						<li>
							<a href="#">Council tax</a>
						</li>
						<li>
							<a href="#">Housing benefit and council house support</a>
						</li>
						<li>
							<a href="#">Finding a home</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<p><a href="#">Can't find it?<br/>See other council services</a></p>
	</section>
	<section id="audiences">
		<div class="row">
			<div class="medium-4 columns">
				<a href="#">
					<h3>Community</h3>
					<p>Community projects, Volunteering, Ward forums</p>
				</a>
			</div>
			<div class="medium-4 columns">
				<a href="#">
					<h3>Business</h3>
					<p>Regeneration, Tourism, Business Partnership</p>
				</a>
			</div>
			<div class="medium-4 columns">
				<a href="#">
					<h3>The Council</h3>
					<p>Councillors, Committees, Priorities</p>
				</a>
			</div>
		</div>
	</section>
	<section id="news">
		<h2>News &amp; Events</h2>
		<div class="owl-carousel latest-news-carousel">
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-1.jpg" alt="image" />
		  		<h3>Council gets ready for cold&nbsp;weather</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-2.jpg" alt="image" />
		  		<h3>Council tax to be frozen despite government budget cuts this&nbsp;year</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-3.jpg" alt="image" />
		  		<h3>How to keep warm when it's&nbsp;cold</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-1.jpg" alt="image" />
		  		<h3>Council gets ready for cold&nbsp;weather</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-2.jpg" alt="image" />
		  		<h3>Council tax to be frozen despite government budget cuts this&nbsp;year</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		  <div>
		  	<a href="#">
		  		<img src="assets/img/news-img-3.jpg" alt="image" />
		  		<h3>How to keep warm when it's&nbsp;cold</h3>
		  		<p>Read more</p>
		  	</a>
		  </div>
		</div>
		<a href="#" class="read-more">Read more News &amp; Events</a>
	</section>
	<section class="secondarycontent">
		<div class="row">
			<div class="medium-6 columns">
				<h2>Corporate message goes&nbsp;here</h2>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		In quis augue et elit dignissim vulputate nec ut tortor. Sed pulvinar turpis eu pulvinar fringilla. Quisque faucibus dui purus, id aliquam ipsum laoreet non.</p>
		 		<p>Maecenas pharetra sit amet <a href="#">link style</a> ac bibendum.</p>
		 	</div>
		 	<div class="medium-5 columns">
		 		<div class="twitter-feed">
			 		<h3>Latest Tweets</h3>
			 		<a class="twitter-timeline"  href="https://twitter.com/CharnwoodBC" data-widget-id="713693720248455171"  data-chrome="nofooter noheader noborders transparent">View on Twitter</a>
	            	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	            </div>
		 	</div>
		</div>
 	</section>
</main>
