<footer id="footer">
	<h5>Follow Us</h5>
	<ul class="social">
		<li class="youtube">
			<a href="#" title="Watch our Youtube channel" target="_blank">Watch our Youtube channel</a>
		</li>
		<li class="twitter">
			<a href="#" title="Follow us on Twitter" target="_blank">Follow us on Twitter</a>
		</li>
		<li class="facebook">
			<a href="#" title="Find us on Facebook" target="_blank">Find us on Facebook</a>
		</li>
		<li class="flickr">
			<a href="#" title="Find us on Flickr" target="_blank">Find us on Flickr</a>
		</li>
		<li class="rss">
			<a href="#" title="Subscribe to our RSS feed" target="_blank">Subscribe to our RSS feed</a>
		</li>
	</ul>

	<nav class="footer-nav">
		<ul>
			<li><a href="#" title="Terms and disclaimer">Terms and disclaimer</a></li>
			<li><a href="#" title="Site Map">Site Map</a></li>
			<li><a href="#" title="Accessibility">Accessibility</a></li>
			<li><a href="#" title="Privacy">Privacy</a></li>
		</ul>
	</nav>

	<p>&copy;2016 Perfect Council - Customer Services, Council House, 23 Council Lane, Town Name, PC1 4TN</p>
	<p>Opening hours: Mon-Fri, 9am-5pm, Telephone: <span itemprop="telephone">(012) 3456 7890</span> or 098 7654 3210</p>
	<p class="powered-by">Handcrafted by <a href="#" title="Web Design by Spacecraft">Spacecraft</a>, Powered by <a href="#" title="Jadu">Jadu.</a></p>
</footer>

  </div><!-- close wrapper -->
</div>