 <!-- off-canvas title bar for 'small' screen -->

    <header class="title-bar">

      <div class="title-bar-left">

        <!--<button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>-->

        <button class="menu-button" id="menuButton">
            <span class="burger-icon"></span>
        </button>

        <a href="#" class="title-bar-title" itemprop="url">Perfect Council</a>

      </div>

      <div class="title-bar-right">

        <a href="#" class="search" title="Search this website">Search</a>

        <a href="#" class="account-login" title="Login to your account to access council services"><span>My Account</span>/Register</a>

      </div>

      <a href="#maincontent" class="skip-to-content" accesskey="S">Skip to main content</a> 
    </header>



<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <nav class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <ul id="mainNav" class="dropdown menu vertical" data-dropdown-menu>

          <li><a href="#" accesskey="1">Home</a></li>

          <li><a href="#">Events</a></li>

          <li class="has-submenu">
            <a href="#">A-Z Council services</a>
            <ul class="menu submenu vertical" data-submenu>

              <li><a href="left_wide_11">Sub-menu item 1</a></li>

              <li><a href="left_wide_12">Sub-menu item 2</a></li>

              <li><a href="left_wide_13">Sub-menu item 3</a></li>

            </ul>
          </li>

          <li><a href="#">Jobs</a></li>

          <li><a href="#">Contact</a></li>

        </ul>
      </nav>
