{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Council - The drinks are on us!</title>
    <meta content="en_GB" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="Perfect Council" property="og:site_name">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body itemscope itemtype="https://schema.org/GovernmentOffice">
    {{> header}}

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer}}

    <script
        src="https://code.jquery.com/jquery-2.2.2.min.js"
        integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
        crossorigin="anonymous"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
    <!--<script src="{{root}}assets/js/foundation.offcanvas.js"></script>-->
    <script src="{{root}}assets/js/owl.carousel.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>