
/* Typography */
p, ul.list {
  max-width: 860px;
}

h1, h2, h3 {
  color: $secondary-color;
}

p {
  max-width: 860px;
  color: $secondary-color;
}

a {
  transition: color $css-transition-speed;
  text-decoration: underline;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
    color: lighten($primary-color, 15%);
  }
}

hr {
  border-color: $primary-color;
}

h1, h2, h3, h4{
  font-family: $body-font-family;
}

h1 {
  font-size: rem-calc(17);
  line-height: 1.1em;
}
h2 {
  font-size: rem-calc(20);
  line-height: 1.1em;
}

h3{
  font-size: rem-calc(16);
}

h4 {
  font-size: rem-calc(14);
}

$text-color: $secondary-color;

.text-small {
  font-size:0.9em !important;
  }
.text-smaller {
  font-size:0.8em !important;
  }
.text-smallest {
  font-size:0.7em !important;
  }
.text-large {
  font-size:1.1em !important;
  }
.text-larger {
  font-size:1.2em !important;
  }
.text-largest {
  font-size:1.3em !important;
  }

p .bold, .bold {
  font-weight: bold;
}

p .uppercase, .uppercase {
  text-transform: uppercase;
}

.no-margin {
  margin: 0 !important;
}

.headline-font, a.headline-font {
  font-family: $header-font-family !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.headline-light, a.headline-light {
  font-family: $header-font-family !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.sans-serif-font, a.sans-serif-font {
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
}
.light-font, a.light-font {
  font-family: $light-font-family !important;
  -webkit-font-smoothing: antialiased;
}



/* Forms */


  label span{ font-size:12px;}
  label.inline{margin-bottom:0;}

$form-label-font-size: 1.3rem;
$input-font-size: 1.4rem;
$input-box-shadow: none;

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

form {
  label {
    margin-bottom: 6px;
    letter-spacing: 2px;
    display: block;
    font-family: $body-font-family;
  }
  .required {
    span {
      // color: $highlight-color;
    }
  }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    max-width: 100%;
    border: 0;
    padding: 7px;
  }

  input[type="file"], input[type="checkbox"], input[type="radio"], select {
    max-width: 400px;
  }

} // form

/* Forms end */


/* BUTTON OVERIDES - most styles are still set in _settings partial where possible */
.button, button, .btn {
  letter-spacing: 3px;
    &:hover {
      text-decoration: none;
    }
}

.close-reveal-modal {
    &:hover {
      text-decoration: none;
      color: $secondary-color;
    }
}

/* END BUTTON OVERIDES */

