//
// The Perfect Council
//
// By Craig Hellinger. Copyright 2016. All rights reserved. 
// 

// Various global styles

$basePath : "../";

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('#{$basePath}/fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('#{$basePath}/fonts/AvenirNextLTPro-Demi.eot');
  src: local('☺'), url('#{$basePath}/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Demi.ttf') format('truetype'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Demi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('#{$basePath}/fonts/AvenirNextLTPro-Bold.eot');
  src: local('☺'), url('#{$basePath}/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
  url('#{$basePath}/fonts/AvenirNextLTPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "perfect-council";
  src:url("#{$basePath}/fonts/perfect-council.eot");
  src:url("#{$basePath}/fonts/perfect-council.eot?#iefix") format("embedded-opentype"),
    url("#{$basePath}/fonts/perfect-council.woff") format("woff"),
    url("#{$basePath}/fonts/perfect-council.ttf") format("truetype"),
    url("#{$basePath}/fonts/perfect-council.svg#perfect-council") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "perfect-council" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fontastic-icon($data-icon) {
  font-family: "perfect-council" !important;
  content: $data-icon;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "perfect-council" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-search-icon:before {
  content: "\f002";
}
.icon-waste-management:before {
  content: "\f1f8";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-24-7:before {
  content: "\f124";
}
.icon-parking:before {
  content: "\f1b9";
}
.icon-report:before {
  content: "\f0e6";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-youtube-alt:before {
  content: "\f16a";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-account:before {
  content: "\f007";
}

// Fonts
$header-font-family: 'AvenirNextLTPro-Bold', "Helvetica Neue", Arial Bold, sans-serif;
$body-font-family: 'AvenirNextLTPro-Demi', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$light-font-family: 'AvenirNextLTPro-Regular', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// Colours

// PRIMARY COLOUR - green
$primary-color: #009d58;

// SECONDARY COLOUR - off black
$secondary-color: #2a2a2c;

// TERTIARY COLOUR - darker green
$tertiary-color: #008944;

$alert-color: $secondary-color;
$success-color: $primary-color;
$warning-color: $secondary-color;
$info-color: #008944;
$foundation-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $tertiary-color,
  warning: #ffae00,
  alert: #ec5840,
);

$button-font-weight: 700;

// Border style
$border-style: 1px solid $secondary-color;

$css-transition-speed: .6s;

